absl-py==0.2.1
amplpy==0.5.0
astor==0.6.2
backcall==0.1.0
bleach==1.5.0
cloudpickle==0.5.3
cycler==0.10.0
decorator==4.3.0
entrypoints==0.2.3
future==0.16.0
gast==0.2.0
graphviz==0.8.3
grpcio==1.12.0
h5py==2.8.0rc1
html5lib==0.9999999
ipykernel==4.8.2
ipython==6.4.0
ipython-genutils==0.2.0
ipywidgets==7.2.1
jedi==0.12.0
Jinja2==2.10
joblib==0.11
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.2.3
jupyter-console==5.2.0
jupyter-core==4.4.0
Keras==2.1.6
kiwisolver==1.0.1
loky==2.2.1
Markdown==2.6.11
MarkupSafe==1.0
matplotlib==2.2.2
mistune==0.8.3
nbconvert==5.3.1
nbformat==4.4.0
notebook==5.5.0
numpy==1.14.3
pandas==0.23.3
pandocfilters==1.4.2
parso==0.2.0
pexpect==4.5.0
pickleshare==0.7.4
progressbar==2.5
prompt-toolkit==1.0.15
protobuf==3.5.2.post1
psutil==5.4.6
ptyprocess==0.5.2
py4j==0.10.7
pyaudi==1.2.4
PyDDE==0.2.2
pydot==1.2.4
Pygments==2.2.0
pygmo==2.7
pyparsing==2.2.0
python-dateutil==2.7.3
pytz==2018.4
PyYAML==3.12
pyzmq==17.0.0
qtconsole==4.3.1
scikit-learn==0.19.1
scipy==1.1.0
Send2Trash==1.5.0
simplegeneric==0.8.1
six==1.11.0
tensorboard==1.8.0
tensorflow==1.15.2
termcolor==1.1.0
terminado==0.8.1
testpath==0.3.1
tornado==5.0.2
traitlets==4.3.2
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.14.1
widgetsnbextension==3.2.1
